
.carrinho-icon {
  font-size: 20px;
  color: white;
  background-color: #f44336;  /* laranja vibrante */
  padding: 15px;
  border-radius: 9999px; /* forma de círculo */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.carrinho-icon:hover {
  transform: scale(1.1);
}

nav img[alt="Mascote"] {
  width: 200px;
  height: 100px;
  margin-left: -30px; /* Ajusta horizontalmente */
}



.floating-logo {
  position: absolute;
  top: -60px; /* sobe por cima da navbar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  text-align: center;
}

.floating-logo img {
  height: 250px; 
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.floating-logo img:hover {
  transform: scale(1.05);
}

nav {
  background: linear-gradient(to right, #c31432, #240b36);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: relative;
  z-index: 10;
}



.container {
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 15px;
}

.mini-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease;
}

.mini-card img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.mini-card h3 {
  font-size: 14px;
  margin: 8px 0 4px;
  color: #444;
}

.mini-card p {
  font-weight: bold;
  color: #e91e63;
  font-size: 14px;
  margin: 0;
}

.mini-card:hover {
  transform: translateY(-4px);
}

.container {
  padding: 20px;
}
